/* FaqAccordion.module.css */

.faqsContainer {
  /* min-height: 100vh; */
  padding: 3rem 1rem;
  background-color: #1B1B1B;
  color: #F1F1F1;
  font-family: sans-serif;
}

.faqsWrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.faqHeaderText {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
}

.faqHeaderText span:first-child {
  font-size: 1.5rem;
  display: inline;
}

.faqHeaderText span:last-child {
  font-size: 2.25rem;
  display: inline;
  color: #DF9931;
}

@media (min-width: 640px) {
  .faqHeaderText span:first-child {
    font-size: 2.25rem;
  }
  
  .faqHeaderText span:last-child {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .faqHeaderText span:first-child {
    font-size: 3rem;
  }
  
  .faqHeaderText span:last-child {
    font-size: 3rem;
  }
}

.questionCard {
  background-color: #252525;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cardTop h1 {
  font-size: 1.35rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.icon {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}

.answerP {
  font-size: 0.95rem;
  font-weight: 600;
  color: #ffffff;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 0;
}

/* Logic for the Open State */
.activeCard {
  background-color: #DF9931;
}

.activeCard .answerP {
  max-height: 500px;
  margin-top: 1rem;
  opacity: 0.95;
}

@media (min-width: 1024px) {
  .questionCard { width: 70%; }
}