@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: some tiny reset so it’s obvious Tailwind loaded */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/* Navbar slide down animation */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 1s ease-out forwards;
}