<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Skip existing files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send all requests to React
RewriteRule . /index.html [L]
</IfModule>